---

---

<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Símbolos Lógicos e Matemáticos</title>
  </head>
  <body>
    <div>teste</div>
  </body>
</html>
<style>
  html {
    cursor: url("./gato-grande.jpg"), pointer;
  }

  html:active {
    cursor: url("./gato-click.jpg"), pointer;
  }
</style>